/* CSS RESET */
#quizme_embedded_quiz html, #quizme_embedded_quiz body, #quizme_embedded_quiz div, #quizme_embedded_quiz span, #quizme_embedded_quiz applet, #quizme_embedded_quiz object, #quizme_embedded_quiz iframe,
#quizme_embedded_quiz h1, #quizme_embedded_quiz h2, #quizme_embedded_quiz h3, #quizme_embedded_quiz h4, #quizme_embedded_quiz h5, #quizme_embedded_quiz h6, #quizme_embedded_quiz p, #quizme_embedded_quiz blockquote, #quizme_embedded_quiz pre,
#quizme_embedded_quiz a, #quizme_embedded_quiz abbr, #quizme_embedded_quiz acronym, #quizme_embedded_quiz address, #quizme_embedded_quiz big, #quizme_embedded_quiz cite, #quizme_embedded_quiz code,
#quizme_embedded_quiz del, #quizme_embedded_quiz dfn, #quizme_embedded_quiz em, #quizme_embedded_quiz img, #quizme_embedded_quiz ins, #quizme_embedded_quiz kbd, #quizme_embedded_quiz q, #quizme_embedded_quiz s, #quizme_embedded_quiz samp,
#quizme_embedded_quiz small, #quizme_embedded_quiz strike, #quizme_embedded_quiz strong, #quizme_embedded_quiz sub, #quizme_embedded_quiz sup, #quizme_embedded_quiz tt, #quizme_embedded_quiz var,
#quizme_embedded_quiz b, #quizme_embedded_quiz u, #quizme_embedded_quiz i, #quizme_embedded_quiz center,
#quizme_embedded_quiz dl, #quizme_embedded_quiz dt, #quizme_embedded_quiz dd, #quizme_embedded_quiz ol, #quizme_embedded_quiz ul, #quizme_embedded_quiz li,
#quizme_embedded_quiz fieldset, #quizme_embedded_quiz form, #quizme_embedded_quiz label, #quizme_embedded_quiz legend,
#quizme_embedded_quiz table, #quizme_embedded_quiz caption, #quizme_embedded_quiz tbody, #quizme_embedded_quiz tfoot, #quizme_embedded_quiz thead, #quizme_embedded_quiz tr, #quizme_embedded_quiz th, #quizme_embedded_quiz td,
#quizme_embedded_quiz article, #quizme_embedded_quiz aside, #quizme_embedded_quiz canvas, #quizme_embedded_quiz details, #quizme_embedded_quiz embed, #quizme_embedded_quiz 
#quizme_embedded_quiz figure, #quizme_embedded_quiz figcaption, #quizme_embedded_quiz footer, #quizme_embedded_quiz header, #quizme_embedded_quiz hgroup, #quizme_embedded_quiz 
#quizme_embedded_quiz menu, #quizme_embedded_quiz nav, #quizme_embedded_quiz output, #quizme_embedded_quiz ruby, #quizme_embedded_quiz section, #quizme_embedded_quiz summary,
#quizme_embedded_quiz time, #quizme_embedded_quiz mark, #quizme_embedded_quiz audio, #quizme_embedded_quiz video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "sans-serif";
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
#quizme_embedded_quiz article, #quizme_embedded_quiz aside, #quizme_embedded_quiz details, #quizme_embedded_quiz figcaption, #quizme_embedded_quiz figure, #quizme_embedded_quiz 
#quizme_embedded_quiz footer, #quizme_embedded_quiz header, #quizme_embedded_quiz hgroup, #quizme_embedded_quiz menu, #quizme_embedded_quiz nav, #quizme_embedded_quiz section {
    display: block;
}
#quizme_embedded_quiz body {
    line-height: 1;
}
#quizme_embedded_quiz ol, #quizme_embedded_quiz ul {
    list-style: none;
}
#quizme_embedded_quiz blockquote, #quizme_embedded_quiz q {
    quotes: none;
}
#quizme_embedded_quiz blockquote:before, #quizme_embedded_quiz blockquote:after,
#quizme_embedded_quiz q:before, #quizme_embedded_quiz q:after {
    content: '';
    content: none;
}
#quizme_embedded_quiz table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* JQuizMe */
#quizme_quizarea .quiz-el{
    background: #ffaa33;
    font-size: 1.1em;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    position: relative;
    padding: 0.2em;
    width: 17em;
}
#quizme_quizarea .quiz-el div{
    padding: 0.2em;
}
#quizme_quizarea .quiz-el input{
    font-size: 0.8em;
}
/* .q-innerArea = .q-header, .q-help, .q-prob, .q-intro, .q-gameOver */
#quizme_quizarea .q-innerArea{
    background: #ffdd77;
    position:relative;
    clear: both;
    color: black;
}
#quizme_quizarea .q-header, #quizme_quizarea .q-help, #quizme_quizarea .q-review-menu {
    border-bottom: thin black solid;
}
#quizme_quizarea .q-intro{
    padding: 0.2em;
}
#quizme_quizarea .q-title{
    overflow: hidden;
    width: 80%;
    margin: 0;
}
/*This is a hack, because IE fails on float:right.*/
#quizme_quizarea .q-counter{
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 1%;
    padding: 0%;
}
#quizme_quizarea .q-counter{
    float: right;
}
#quizme_quizarea .q-help{
    position: relative;
    clear:both;
}
/*.q-probArea = .q-ques, .q-ansSel, .q-result */
#quizme_quizarea .q-probArea{
    background: #eee;
    border: thin black solid;
    font-size: 1.2em;
    position: relative;
}
#quizme_quizarea .q-help-menu{
    width: 97%;
}
#quizme_quizarea .q-help-info{
    clear:both;
}
#quizme_quizarea .q-quit-confirm, #quizme_quizarea .q-quit-area, #quizme_quizarea .q-review-arrows{
    display: inline;
    width: auto;
}
#quizme_quizarea .q-quit-area{
    float: right;
}
#quizme_quizarea .q-review-arrows{
    position: relative; /*IE hack.*/
    width: 2.3em;
}
#quizme_quizarea .q-center{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#quizme_quizarea .q-gameOver .q-statTotal{
    color: blue;
}
#quizme_quizarea .q-quesInput{
    width: 95%;
}
#quizme_quizarea .q-ol{
    list-style-type: upper-alpha;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}
#quizme_quizarea .q-ol-li{
    margin: 0.4em auto 0.4em auto;
}
#quizme_quizarea .q-ol-hover{
    background: #777777;
}
#quizme_quizarea .q-ol-active{
    background: black;
    color: #ccffaa;
}
/*IE displays the wrong width for <select> tags.*/
#quizme_quizarea .q-select{
    width : 80%;
}
#quizme_quizarea .q-select{
    font-size: 0.8em;
    width: 100%;
}
#quizme_quizarea .q-timer-area{
    display:block;
    text-align:center;
    width: auto;
}
#quizme_quizarea .q-review-menu{
    text-align: center;
    width: auto;
}
#quizme_quizarea .q-reviewBar-btns{
    position: relative;
    display: inline-block;
    width: 49%;
}
#quizme_quizarea .q-rightArrow{
    float:right;
}
#quizme_quizarea .q-leftArrow{
    float:left;
}
#quizme_quizarea .q-timer-area{
    line-height: 0;
    height:0;
}

/* Sharebuttons */
#quizme_sharebuttons ul{
    float: none;
    list-style: none;
    margin: 5px 0 0 0;
}

#quizme_sharebuttons li{
    margin: auto;
    display: inline-block;
}

/* Container */
#quizme_embedded_quiz{
    width: 268px;
}