<tr>
	<td><%= quiz.name %></td>
	<td>
		<div class="btn-group">
			<button type="button" class="btn btn-default">Take</button>
			<button type="button" class="btn btn-default">Share</button>
			<button type="button" class="btn btn-default">Edit</button>
			<button type="button" class="btn btn-default">Delete</button>
		</div>
	</td>
	<td><%= quiz.description %></td>
	<td><%= quiz.created_at.strftime("%B, %e %Y") %></td>
	<td>
		<% if quiz.access_count == nil %>
			0
		<% else %>
			<%= quiz.access_count %>
		<% end %>
	</td>
</tr>