<tr>
	<td><%= quiz.name %></td>
	<td>
		<div class="btn-group">
			<button type="button" class="btn btn-default">Take</button>
			<button type="button" class="btn btn-default">Share</button>
			<button type="button" class="btn btn-default">Edit</button>
			<button type="button" class="btn btn-default">Delete</button>
		</div>
	</td>
	<td><%= quiz.description %></td>
	<td><%= quiz.created_at %></td>
	<td><%= quiz.access_count %></td>
</tr>