<div id="sharebuttons">
	<ul>
		<li><span class="st_facebook_hcount" displayText='Share' st_url="<%= request.original_url %>"></span></li>
		<li><div class="st_twitter_hcount" displayText='Tweet' st_url="<%= request.original_url %>" st_via=""></div></li>
		<li><div class="st_googleplus_hcount" displayText='+ 1'  st_url="<%= request.original_url %>"></div></li>
	</ul>
</div>
<br />
<span>Embed this quiz by pasting the code below into your website!</span>
<%= text_field_tag 'embed_code', '<script src="'+request.original_url+'.js" async></script>' %>