<% provide(:title, "Take a Quiz") %>
<div id="quizarea" />
<script>loadQuiz()</script>
<div class="fb-share-button" data-href="<%= request.original_url %>" data-type="button_count"></div>
<%# text_field_tag 'embed_code', '<script>'+request.original_url %>