<%= provide(:title, 'Browse Quizzes') %>

<h1>Browse Quizzes</h1>
<% if signed_in? %>
	<a href="<%= new_quiz_path %>" class="btn btn-large btn-primary">Create a New Quiz</a>
<% end %>
<table class="table table-striped table-hover">
	<tbody>
		<% if @quizzes.any? %>
			<%= render @quizzes %>
		<% end %>
	</tbody>
</table>