<%= provide(:title, 'Browse Quizzes') %>

<h1>All Quizzes</h1>
<a href="<%= new_quiz_path %>" class="btn btn-large btn-primary">Create a New Quiz</a>

<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th></th>
		<th>Description</th>
		<th>Created On</th>
		<th>Popularity</th>
	</tr>
	
	<% if @quizzes.any? %>
		<%= render @quizzes %>
	<% end %>
	
</table>