<%= provide(:title, 'Home') %>

<h1>Quiz Me</h1>
<h2>An awesome online application for you to share quizzes!</h2>

<div id="daily_quiz">
	<h1>Quiz of the Day</h1>
	<script src="<%= quizzes_path %>/1.js" async></script>
</div>

<div id="most_popular">

</div>

<div id="other">
	<span>Not your cup of tea?</span>
	<a href="<%= browse_path %>" class="btn btn-large btn-primary">Take a Different Quiz</a>
</div>