<% if object.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-danger">
			This quiz contains <%= pluralize(object.errors.count, "error") %>.
			<ul>
			<% object.errors.full_messages.reverse.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	</div>
<% end %>