<footer class="footer">
	<small>
		Copywrite 2013 Your Company
	</small>
	<nav>
		<ul>
			<li><div class="fb-share-button" data-href="<%= "#{request.protocol}#{request.host_with_port}#{root_path}" %>" data-type="box_count"></div></li>
			<li><a href="https://twitter.com/share" class="twitter-share-button"  data-url="<%= "#{request.protocol}#{request.host_with_port}#{root_path}" %>" data-text="Take some awesome quizzes at" data-count="vertical">Tweet</a></li>
			<li><div class="g-plus" data-action="share" data-href="<%= "#{request.protocol}#{request.host_with_port}#{root_path}" %>" data-annotation="vertical-bubble"></div></li>
		</ul>
  </nav>
</footer>