<footer class="footer">
	<div class="container">
		<div class="row">

				<small>
					Copywrite 2013 Your Company
				</small>

				<nav>
					<ul>
						<li><span class="st_facebook_vcount" displayText='Share' st_url="<%= "#{request.protocol}#{request.host_with_port}#{root_path}" %>" st_title="Quiz Me" st_summary="Create and share your own quizzes with an easy to use interface!"></span></li>
						<li><div class="st_twitter_vcount" displayText='Tweet' st_url="<%= "#{request.protocol}#{request.host_with_port}#{root_path}" %>" st_title="Quiz Me" st_summary="Create and share your own quizzes with an easy to use interface!" st_via=""></div></li>
						<li><div class="st_googleplus_vcount" displayText='+ 1'></div></li>
					</ul>
			  	</nav>

 		</div>
  </div>
</footer>