<footer class="footer">
	<small>
		Copywrite 2013 Your Company
	</small>
	<nav>
		<ul>
			<li><div class="fb-share-button" data-href="<%= root_path %>" data-type="box_count"></div></li>
			<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= root_path %>" data-text="Take some awesome quizzes at" data-size="large">Tweet</a></li>
			<li><%= link_to "Google Plus", '#' %></li>
		</ul>
  </nav>
</footer>