<footer class="footer">
	<small>
		Copywrite 2013 Your Company
	</small>
	<nav>
		<ul>
			<li><%= link_to "Facebook",   '#' %></li>
			<li><%= link_to "Twitter", '#' %></li>
			<li><%= link_to "Google Plus", '#' %></li>
		</ul>
  </nav>
</footer>